/*-- Home Page Style --*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(7, 7, 7, 0.6);
    width: 100%;
}

#logo {
    margin-right: 120px;
}

#logo h3 {
    font-weight: 900;
    font-size: larger;
}

#logo a {
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    width: 15%;
    margin-bottom: 0px;
}

#menu .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

#menu .nav-item {
    position: relative;
}

#menu .nav-link {
    text-decoration: none;
    font-size: 0.9em;
    color: #ffffff;
    padding-bottom: 30px;
}

#menu .nav-link:hover {
    text-decoration: underline;
    color: #01122c;
}

.hero {
    margin: auto;
    background: rgb(240, 239, 239);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 150px 30px;
}

#hero-left {
   width: 50%;
   text-align: center;
}

#hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#hero-right img {
    margin: 5px;
}

#hero-h1 {
    font-size: 3em;
}

#hero-paragraph {
    margin: 20px 0px;
    line-height: 1.5em;
}

.hero button {
    color: #ffffff;
    background: #0F52BA;
    padding: 10px 50px;
    font-weight: bolder;
    font-size: 1.1em;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
}

.hero button:hover {
    color:#0F52BA;
    background: #ffffff;
    transition: all 0.5s ease-out;
}

.polyvalentNurse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.polyvalentNurse .text {
    width: 40%;
    text-align: center;
    padding: 20px;
}

.polyvalentNurse .text h1 {
    margin: 30px 0px;
}

.polyvalentNurse .text h5 {
   letter-spacing: 5px;
}

.polyvalentNurse .pics {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.polyvalentNurse .pics .image {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.whatWeDo {
    background: rgb(240, 239, 239);
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.whatWeDo h5 {
    letter-spacing: 10px;
    padding-top: 100px;
}

.whatWeDo h1 {
    margin: 50px;
}

.whatWeDo .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.whatWeDo .cards #nursingCare {
    background: #ffffff;
    width: 320px;
    height: 500px;
    padding: 10px;
}

.whatWeDo .cards #nursingCare img {
    width: 300px;
    height: 200px;
}

.whatWeDo .cards #nursingCare h3 {
    margin: 30px;
    text-align: left;
}

.whatWeDo .cards #nursingCare p {
    text-align: left;
    line-height: 40px;
}

.whatWeDo .cards #edibles {
    background: #ffffff;
    width: 320px;
    height: 500px;
    padding: 10px;
}

.whatWeDo .cards #edibles img {
    width: 300px;
    height: 200px;
}

.whatWeDo .cards #edibles h3 {
    margin: 30px;
    text-align: left;
}

.whatWeDo .cards #edibles p {
    text-align: left;
    line-height: 40px;
}

.whatWeDo .cards #tailoring {
    background: #ffffff;
    width: 320px;
    height: 500px;
    padding: 10px;  
}

.whatWeDo .cards #tailoring img {
    width: 300px;
    height: 200px;
}

.whatWeDo .cards #tailoring h3 {
    margin: 30px;
    text-align: left;
}

.whatWeDo .cards #tailoring p {
    text-align: left;
    line-height: 40px;
}

#middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 50px 30px 50px;
    color: rgb(101, 99, 99);
}

#contact-list img {
    width: 20px;
    height: 20px;
    color: rgb(101, 99, 99);
}

#logo-para {
    width: 40%;
    padding: 0px 50px 0px 50px;
}

#logo-para #logo a {
    color: #0F52BA;
}

#logo-para p {
    line-height: 2em;
    margin-top: 20px;
    text-align: left;
}

#quicklink {
    width: 30%;    
}

#quick-list ul {
    list-style: none;
}

#quick-list ul li a {
    text-decoration: none;
    color: rgb(101, 99, 99);
}

#quick-list ul li {
    margin: 25px 0px;
}

#contact-list ul li {
    margin: 15px 0px;
}

#contact-social ul {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#contact-social ul a {
    color: #ffffff;
    padding: 10px 12px;
    margin: 0px 5px;
    background: rgb(80, 79, 79);
}

#contact-social ul a:hover {
    background: #0F52BA;
}

#contact-list ul, #contact-social ul {
    list-style: none;
}

#quick-list ul li a:hover {
    color: black;
}

#contact-list ul img, #contact-social ul a {
    text-decoration: none;
}

#contact {
    width: 30%;
}

#lower {
    background: rgb(21, 20, 20);
    text-align: center;
    color: #ffffff;
    padding: 12px;
    font-size: 0.8em;
}




/*-- About Page Style --*/

.about-hero {
    margin: auto;
    background: rgb(240, 239, 239);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
}

#about-hero-text {
    width: 40%;
    text-align: center;
 }

 #about-hero-text h1 {
    margin: 50px 0px;
    font-size: 3em;
 }

 #about-hero-text h5 {
    letter-spacing: 10px;
 }

 #about-hero-image {
    width: 60%;
    margin-left: 100px;
}

#about-hero-image img {
    margin: 5px;
}

#about-hero-paragraph {
    margin: 20px 0px;
    line-height: 1.5em;
}

.vision, .mission {
    height: 300px;
    background-color: rgb(156, 151, 151);
    color: #ffffff;
    margin: auto;
    padding: 50px 400px;
    text-align: center;
    border-bottom: 1px solid rgb(5, 5, 5);
}



/*-- Sevices Page Style --*/

.serviceNurse {
    margin: auto;
    background: rgb(240, 239, 239);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
}

#serviceNurse-text {
    width: 40%;
    text-align: center;
 }

 #serviceNurse-text h1 {
    margin: 50px 0px;
    font-size: 3em;
 }

 #serviceNurse-image {
    width: 60%;
    margin-left: 100px;
}

#serviceNurse-image img {
    margin: 5px;
}

.serviceNurse button {
    color: #ffffff;
    background: #0F52BA;
    padding: 10px 25px;
    font-weight: bolder;
    font-size: 1.1em;
    margin-top: 30px;
}

.serviceNurse button:hover {
    color:#0F52BA;
    background: #ffffff;
}






.serviceEdibles {
    margin: auto;
    background: rgb(240, 239, 239);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
}

#serviceEdibles-text {
    width: 40%;
    text-align: center;
 }

 #serviceEdibles-text h1 {
    margin: 50px 0px;
    font-size: 3em;
 }

 #serviceEdibles-image {
    width: 60%;
    margin-left: 100px;
}

#serviceEdibles-image img {
    margin: 5px;
}

.serviceEdibles button {
    color: #ffffff;
    background: #0F52BA;
    padding: 10px 25px;
    font-weight: bolder;
    font-size: 1.1em;
    margin-top: 30px;
}

.serviceEdibles button:hover {
    color:#0F52BA;
    background: #ffffff;
}






.serviceTailoring {
    margin: auto;
    background: rgb(240, 239, 239);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
}

#serviceTailoring-text {
    width: 40%;
    text-align: center;
 }

 #serviceTailoring-text h1 {
    margin: 50px 0px;
    font-size: 3em;
 }

 #serviceTailoring-image {
    width: 60%;
    margin-left: 100px;
}

#serviceTailoring-image img {
    margin: 5px;
}

.serviceTailoring button {
    color: #ffffff;
    background: #0F52BA;
    padding: 10px 25px;
    font-weight: bolder;
    font-size: 1.1em;
    margin-top: 30px;
}

.serviceTailoring button:hover {
    color:#0F52BA;
    background: #ffffff;
}


/*-- Contact Page Style --*/

.contact {
    margin: auto;
    background: rgb(240, 239, 239);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px;
}

#contact-text {
    width: 40%;
    text-align: center;
 }

 #contact-text h1 {
    margin: 50px 0px;
    font-size: 3em;
 }

 #contact-text h5 {
    letter-spacing: 10px;
 }

 #contact-image {
    width: 60%;
    margin-left: 100px;
}

#contact-image img {
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 70px;
}

#form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input {
    width: 48%;
    padding: 20px;
    margin: 10px 0px;
    outline: none;
    border: 3px solid rgb(202, 199, 199);
    border-radius: 5px;
}

form textarea {
    width: 100%;
    padding: 30px;
    margin: 10px 0px;
    outline: none;
    border: 2px solid rgb(202, 199, 199);
    border-radius: 5px;
}

form input:hover, form textarea:hover {
    border: 2px solid #0F52BA;
}

form button {
    width: 25%;
    background-color: #0F52BA;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin: 10px 0px;
    font-weight: bolder;
}

form button:hover {
    background-color: white;
    color: #0F52BA;
}






/* Mobile */

@media  screen and (max-width: 600px) {
    header {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
    
    .nav-menu {
        background: rgba(7, 7, 7, 0.6);
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        text-align: center;
        justify-content: flex-start;
        transition: 0.5s;
    }

    .nav-item {
        margin: 5px auto;
    }

    .nav-menu.active {
        right: 0;
    }

    .hero {
        flex-direction:column-reverse;
        padding: 100px 10px;
    }
    
    #hero-left {
       width: 100%;
    }
    
    #hero-right {
        width: 100%;
        margin-bottom: 30px;
    }
    
    #hero-h1 {
        font-size: 2.5em;
    }
    
    #hero-paragraph {
        padding: 0 30px;
        line-height: 1.5em;
    }

    .polyvalentNurse {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    
    .polyvalentNurse .text {
        width: 100%;
    }
    
    .polyvalentNurse .pics {
        width: 100%;
    }
    
    .polyvalentNurse .pics .image {
        width: 200px;
        height: 200px;
        margin: 3px;
    }
}



/* Tablet/iPad */

@media  screen and (max-width: 900px) and (min-width: 601px) {

        header {
            width: 100%;
        }

        .hamburger {
            display: block;
        }
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }
        
        .nav-menu {
            background: rgba(7, 7, 7, 0.6);
            position: fixed;
            right: -100%;
            top: 60px;
            gap: 0;
            flex-direction: column;
            width: 40%;
            height: 100vh;
            text-align: center;
            justify-content: flex-start;
            transition: 0.5s;
        }
    
        .nav-item {
            margin: 10px auto;
        }
    
        .nav-menu.active {
            left: 0;
        }

        .hero {
            padding: 100px 10px;
        }
        
        #hero-left {
           width: 50%;
        }
        
        #hero-right {
            width: 50%;
            margin-bottom: 30px;
        }
        
        #hero-paragraph {
            padding: 10px;
        }

        .polyvalentNurse {
            flex-direction: column-reverse;
            margin: 50px 0;
        }
        
        .polyvalentNurse .text {
            width: 100%;
        }
        
        .polyvalentNurse .pics {
            width: 100%;
        }
        
        .polyvalentNurse .pics .image {
            width: 200px;
            height: 200px;
            margin: 3px;
        }
}